<%- contentFor('head') %>


<%- contentFor('body') %>
    <div class="row" style="display:none;">
        <div class="col-4" style="padding-bottom: 1rem">
            <label class="margin-top">Trạng thái</label>
            <select class="form-control" id="idSearch">
                <option value="">Lựa chọn ở đây</option>
                <option value="1">Đã duyệt</option>
                <option value="2">Đang chờ</option>
                <option value="3">Hủy</option>
                <option value="4">Đã giao</option>
            </select>
        </div>
        <div class="col-8" style="padding-bottom: 1rem">
            <a href="#" class="btn bg-gradient-success btn-themmoi" onclick="search1()" style="position: absolute; top: 3rem; display: block">
                <i class="fas fa-search"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="margin: auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách người tham gia <%=event.name %></h3>
                    <!-- <a href="./ThemPhieuYeuCau.aspx" class="btn bg-gradient-success btn-themmoi"><i class="fas fa-plus"></i></a> -->
                </div>
                <div class="card-body p-0" style="width: auto; overflow-x:
                    auto;">
                    <table class="table table-bordered" id="idDataTable">
                        <thead>
                            <tr>
                                <th style="width: 10px">STT</th>
                                <th>Tên người tham gia</th>
                                <th>Email</th>
                                <th>Giới tính</th>
                                <th>Số điện thoại</th>
                                <th>Thời gian đăng kí</th>
                                <th>Mã QR</th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>


<%- contentFor('loadScript') %>
    <script src='/js/applyEvent.js?ver=132'></script>
    <script src='/js/search.js?ver=132'></script>
    
    <script>
        $(document).ready(function () {
            TaoDataTable("idDataTable", GetColumnsForDatatable(9)).then(() => {
                SettingSearch();
            });
        });
    </script>
