
<link rel="stylesheet" href="/dist/css/event.css" />
<link rel="stylesheet" href="/dist/css/popup.css">
<style>
      .nameEvent{
    height: 70px !important;
    overflow: auto;
  }
    .wrap {
    flex: 1;
    margin: auto;
    margin-bottom: 5px;
    border: 1px solid #36304a;
    border-radius: 5px;
    overflow: hidden;
    }

    .container {
    display: block;
    width: 100%;
    overflow-x: auto;
    }

    .text-nowrap {
    white-space: nowrap;
    }

    table tr td {
    padding: 10px 20px;
    background: white;
    overflow-wrap: break-word;
    }

    table tr th {
    padding: 20px;
    /* color: white; */
    background: white;
    text-align: center;
    }

    table tr td:nth-child(2),
    table tr th:nth-child(2) {
    min-width: 100px;
    position: sticky;
    left: 0;
    z-index: 9;
    }

</style>
<%- contentFor('body') %>
    
    <div class="col-md-12">
        <!-- <div class="col-12" style="margin: auto"> -->
        <div class="card">
            <div class="card-header">
                <a class="card-title">Danh sách sự kiện đã hoành thành</a>
            </div>
            <div class="card-body p-0" style="width: auto; overflow:
                auto;">
                <div class="wrap">
                    <div class="container">
                        <table class="table table-bordered" id="idDataTable">
                            <thead>
                                <tr>
                                    <th style="width: 50px">STT</th>
                                    <th style="min-width: 200px!important;">Tên</th>
                                    <th style="min-width: 200px!important;">Người tạo</th>
                                    <th style="min-width: 150px!important;">Loại event</th>
                                    <th style="min-width: 110px!important;">Người tham gia</th>
                                    <th style="min-width: 110px!important;">Số tiền thanh toán</th>
                                    <th style="min-width: 140px!important;">Tiền nhận</th>
                                    <th style="min-width: 120px!important;">Trạng thái</th>
                                    <th style='min-width: 200px!important;'>Chức
                                        năng</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- </div> -->
    </div>

    <div id="lightOrderDetail" class="white_content" style="width: 80%;
        left: 10%; top: 10%!important; height: 80vh; overflow-y: auto;">
        <div class="box" style="position: relative;">
            <div style="position: absolute; top: 3px; right: 3px; font-size:
                37px; color: red; cursor: pointer;"
                onclick="document.getElementById('lightOrderDetail').style.display=
                'none';
                document.getElementById('fadeOrderDetail').style.display=
                'none';$('#idBodyReport > tr').remove()">X</div>
            <div class="box-body">
                <div class="titlePouple" style="text-align: center;
                    font-size: 2rem; width: 100%; height:
                    auto!important;overflow-x: auto;" id="idTitlePopup">Thêm
                    thông tin</div>
                <div id="OrderDetail" style="padding: 10px; text-align:
                    center">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Tên user</th>
                                <th>Số tiền</th>
                                <th>Loại</th>
                                <th>Thời gian </th>
                            </tr>
                        </thead>
                        <tbody id='idBodyReport'>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="fadeOrderDetail"
        onclick="document.getElementById('lightOrderDetail').style.display=
        'none'; document.getElementById('fadeOrderDetail').style.display=
        'none';$('#idBodyReport > tr').remove(); " class="black_overlay">
    </div>

    <%- contentFor('loadScript') %>
        <script src='/js/ThongKe/thanh_toan.js?ver=132'></script>
        <script src='/js/search.js?ver=132' async></script>

        <script>
        $(document).ready(function () {
            TaoDataTable("idDataTable", GetColumnsForDatatable(9)).then(() => {
                SettingSearch();
               
            });
        });
    </script>
