
 <link rel="stylesheet" href="/dist/css/event.css" />

 <style>
            
        .badge-live-event1{
            z-index: 1;
            cursor: pointer;
            background-color:red;
        margin-top: 10px;
        margin-left: 10px;
        padding: 5px;
        color: #fff;
        font-weight: 700;
        border-radius: 3px;
        position: absolute;
        top: 0;
        right: 0;
        }
     .number_user_join{
         z-index: 1;
         cursor: pointer;
        background-color: black;
        margin-top: 10px;
        margin-left: 10px;
        padding: 5px;
        color: #fff;
        font-weight: 700;
        border-radius: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
     }
 </style>

 <%- contentFor('body') %>
     <div class="row" >
         <div class="col-10 row" style="padding-bottom: 1rem; display:none;">
             <div class="col-md-3 form-group">
                 <label class="margin-top">Trạng thái</label>
                 <select class="form-control" id="idTT">
                     <option value="">Lựa chọn ở đây</option>
                     <option value="DRAFT">DRAFT</option>
                     <option value="PENDING">PENDING</option>
                     <option value="CANCEL">CANCEL</option>
                     <option value="PUBLIC">PUBLIC</option>
                 </select>
             </div>
             <div class="col-md-3 form-group">
                 <label class="margin-top">Loại</label>
                 <div class="funkyradio">
                     <div class="funkyradio-primary col-md-12" style="padding-left: 0px !important;">
                         <input type="checkbox" name="traGop" value="true" id="traPhi" />
                         <label style="height: calc(2.25rem + 2px)!important;" for="traPhi">Trả phí</label>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 form-group">
                 <label class="margin-top">Ngày bắt đầu</label>
                 <input type="text" id="startDate" class="form-control col-sm-12 hasDatepicker" style="width: 30vw;" placeholder="Ngày" />
 
             </div>
             <div class="col-md-3 form-group">
                 <label class="margin-top">Ngày kết thúc</label>
                 <input type="text" id="endDate" class="form-control col-sm-12 hasDatepicker" style="width: 30vw;" placeholder="Ngày" />
 
             </div>
             
         </div>
         <div class="col-2" style="padding-bottom: 1rem">
             <a href="javascript: void(0);" class="btn bg-gradient-success btn-themmoi"
                 onclick="search1()" style="position: absolute; top: 3rem;
                 display: block"><i class="fas fa-search"></i></a>
         
     </div>
     <div class="row">
         <div class="col-lg-12" style="margin: auto">
             <div class="card">
                 <div class="card-header">
                     <a class="card-title">Danh sách sự kiện cancel</a>
                 </div>
                 <div class="card-body p-0" style="width: auto; overflow-x:
                     auto;">
                     <table class="table table-bordered" id="idDataTable">
                         <thead>
                             <tr>
                                 <th style="width: 50px">STT</th>
                                 <th style="max-width: 300px!important;">Tên</th>
                                 <th style="max-width: 200px!important;min-width: 100px!important;">Người tạo</th>
                                 <th style="max-width: 120px!important;min-width: 70px!important;">Loại</th>
                                 <th style="max-width: 100px!important;min-width: 70px!important;">SL hủy</th>    
                                 <th style="max-width: 100px!important;min-width: 70px!important;">Thời gian</th>
                                 <th style="max-width: 120px!important;min-width: 100px!important;">Trạng thái</th>
                                 <th style='min-width:200px!important;'>Chức năng</th>
                             </tr>
                         </thead>
                         <tbody>
 
                         </tbody>
                     </table>
                 </div>
                 <!-- /.card-body -->
             </div>
         </div>
     </div>
 
     <div id="lightOrderDetail" class="white_content" style="width: 80%;
     left: 10%; top: 18%!important; height: 80vh; overflow: scroll;">
     <div class="box" style="position: relative;">
         <div style="position: absolute; top: 3px; right: 3px; font-size: 37px; color: red; cursor: pointer;" onclick="document.getElementById('lightOrderDetail').style.display=
         'none'; document.getElementById('fadeOrderDetail').style.display=
         'none'; $('#OrderDetail').text('');">X</div>
         <div class="box-body">
             <div class="titlePouple" style="text-align: center;
                 font-size: 2rem;" id="idTitlePopup">Thêm thông tin</div>
             <div id="OrderDetail" style="padding: 10px; text-align:
                 center">
 
                 <!-- <div class="box-footer" style="margin-top: 2rem;">
                     <a class="btn btn-primary" id='buttonSave'>Xác nhận
                     </a>
                 </div> -->
             </div>
         </div>
     </div>
 </div>
 <div id="fadeOrderDetail"
     onclick="document.getElementById('lightOrderDetail').style.display=
     'none'; document.getElementById('fadeOrderDetail').style.display=
     'none'; $('#OrderDetail').text('');" class="black_overlay">
 </div>
 
 <%- contentFor('loadScript') %>
     <script src='/js/ThongKe/traTienKhach.js?ver=132'></script>
     <script src='/js/search.js?ver=132' async></script>
    
     <script>
         $(document).ready(function () {
             TaoDataTable("idDataTable", GetColumnsForDatatable(8)).then(() => {
                 SettingSearch();
             });
         });
     </script>
 