
<link rel="stylesheet" href="/dist/css/event.css" />
<link rel="stylesheet" href="/dist/css/popup.css">

<style>
            
        .badge-live-event1{
            z-index: 1;
            cursor: pointer;
            background-color:red;
        margin-top: 10px;
        margin-left: 10px;
        padding: 5px;
        color: #fff;
        font-weight: 700;
        border-radius: 3px;
        position: absolute;
        top: 0;
        right: 0;
        }
     .number_user_join{
         z-index: 1;
         cursor: pointer;
        background-color: black;
        margin-top: 10px;
        margin-left: 10px;
        padding: 5px;
        color: #fff;
        font-weight: 700;
        border-radius: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
     }
    .wrap {
    flex: 1;
    margin: auto;
    margin-bottom: 5px;
    border: 1px solid #36304a;
    border-radius: 5px;
    overflow: hidden;
    }

    .container {
    display: block;
    width: 100%;
    overflow-x: auto;
    }

    .text-nowrap {
    white-space: nowrap;
    }

    table tr td {
    padding: 10px 20px;
    background: white;
    }

    table tr th {
    padding: 20px;
    /* color: white; */
    background: white;
    white-space: nowrap;
    text-align: center;
    }

    table tr td:nth-child(2),
    table tr th:nth-child(2) {
    min-width: 100px;
    position: sticky;
    left: 0;
    z-index: 9;
    }
</style>
<%- contentFor('body') %>

    <div class="col-md-12" style="margin: auto">
        <div class="card">
            <div class="card-header">
                <a class="card-title">Danh sách sự kiện cancel</a>
            </div>
            <div class="card-body p-0" style="width: auto; overflow:auto;">
                <div class="wrap">
                    <div class="container">
                        <table class="table table-bordered"
                            id="idDataTable">
                            <thead>
                                <tr>
                                    <th style="width: 50px">STT</th>
                                    <th style="max-width:
                                        300px!important;">Tên</th>
                                    <th style="max-width:
                                        200px!important;min-width:
                                        100px!important;">Người tạo</th>
                                    <th style="max-width:
                                        120px!important;min-width:
                                        70px!important;">Loại</th>
                                    <th style="max-width:
                                        100px!important;min-width:
                                        70px!important;">SL hủy</th>
                                    <th style="max-width:
                                        100px!important;min-width:
                                        70px!important;">Thời gian</th>
                                    <th style="max-width:
                                        120px!important;min-width:
                                        100px!important;">Trạng thái</th>
                                    <th
                                        style='min-width:200px!important;'>Chức
                                        năng</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
        </div>
    </div>

    <div id="lightOrderDetail" class="white_content" style="width: 80%;
        left: 10%; top: 10%!important; height: 80vh; overflow: scroll;">
        <div class="box" style="position: relative;">
            <div style="position: absolute; top: 3px; right: 3px; font-size:
                37px; color: red; cursor: pointer;"
                onclick="document.getElementById('lightOrderDetail').style.display=
                'none';
                document.getElementById('fadeOrderDetail').style.display=
                'none'; $('#OrderDetail').text('');">X</div>
            <div class="box-body">
                <div class="titlePouple" style="text-align: center;
                    font-size: 2rem;" id="idTitlePopup">Thêm thông tin</div>
                <div id="OrderDetail" style="padding: 10px; text-align:
                    center">

                </div>
            </div>
        </div>
    </div>
    <div id="fadeOrderDetail"
        onclick="document.getElementById('lightOrderDetail').style.display=
        'none'; document.getElementById('fadeOrderDetail').style.display=
        'none'; $('#OrderDetail').text('');" class="black_overlay">
    </div>

    <script src='/js/ThongKe/traTienKhach.js?ver=132'></script>
    <script src='/js/search.js?ver=132' async></script>

    <script>
         $(document).ready(function () {
             TaoDataTable("idDataTable", GetColumnsForDatatable(8)).then(() => {
                 SettingSearch();
             });
         });
     </script>